[submodule "Assets/UniText"]
	path = Assets/UniText
	url = https://github.com/LightSideMeowshop/UniText-Dev.git
[submodule "Assets/UniText-Public"]
	path = Assets/UniText-Public
	url = https://github.com/LightSideMeowshop/unitext.git
[submodule "Assets/LightSide.Core"]
	path = Assets/LightSide.Core
	url = https://github.com/LightSideMeowshop/lightside-core.git
[submodule "Assets/UniLottie"]
	path = Assets/UniLottie
	url = https://github.com/LightSideMeowshop/UniLottie.git
[submodule "Assets/UniShapes"]
	path = Assets/UniShapes
	url = https://github.com/LightSideMeowshop/unishapes.git
